Analysis notebook

In [1]:
import pandas as pd

In [2]:
df_analysis= pd.read_pickle('/Users/pkc/PycharmProjects/pythonProject/Automotive/pickles/df_join_lists.pickle')

In [3]:
round(df_analysis.head())

,mileage,make,model,fuel,gear,offerType,price,hp,year,country,yrsOld
0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011,Germany,10
1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011,Germany,10
2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011,Spain,10
3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011,France,10
4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011,France,10

In [4]:
df_analysis.price.isnull().value_counts()

price
False    46405
Name: count, dtype: int64

In [5]:
df_analysis.hp.isnull().value_counts()

hp
False    46380
True        25
Name: count, dtype: int64

In [6]:
df_analysis[df_analysis.hp.isnull()].hp.fillna(125)

482      125
2368     125
5552     125
5760     125
8892     125
10575    125
10779    125
10782    125
12000    125
12549    125
12858    125
14010    125
24953    125
26612    125
27469    125
27659    125
30919    125
30920    125
31190    125
34328    125
38049    125
44772    125
45922    125
45923    125
45924    125
Name: hp, dtype: int64

In [7]:
df_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46405 entries, 0 to 46404
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mileage    46405 non-null  int64
 1   make       46405 non-null  object
 2   model      46297 non-null  object
 3   fuel       46405 non-null  object
 4   gear       46236 non-null  object
 5   offerType  46405 non-null  object
 6   price      46405 non-null  int64
 7   hp         46380 non-null  object
 8   year       46405 non-null  int64
 9   country    46405 non-null  object
 10  yrsOld     46405 non-null  int64
dtypes: int64(4), object(7)
memory usage: 3.9+ MB

In [8]:
df_analysis['hp']=df_analysis['hp'].astype(float)

ValueError: could not convert string to float: 'undetermined'

In [13]:
df_analysis[df_analysis.hp=='undetermined'].head()

,mileage,make,model,fuel,gear,offerType,price,hp,year,country,yrsOld
9264,5,Aixam,undetermined,Electric,Automatic,Pre-registered,22180,undetermined,2021,undetermined,0
17752,150,Others,undetermined,Electric,Automatic,Employee's car,4490,undetermined,2020,undetermined,1
39762,2000,Caravans-Wohnm,Adria,-/- (Fuel),undetermined,Used,24500,undetermined,2016,undetermined,5
42111,20,Others,undetermined,Electric,undetermined,Used,4850,undetermined,2018,undetermined,3

During the join, the empty horsepower values were filled in with "undermined". This will just replace those values with the horsepower average.

In [14]:
df_analysis['hp']= df_analysis['hp'].replace(['undetermined'],132)

In [15]:
df_analysis.hp.mean()

132.99090125053903

ok, so lesson learned, do something about null values before you start doing joins and all sorts of extra fancy stuff because now it's harder to correct the mistake.

In [16]:
df_analysis.hp.mean()

132.99090125053903

now the hp is in the proper data format which is as a float

In [20]:
df_analysis.hp.info()

<class 'pandas.core.series.Series'>
RangeIndex: 46405 entries, 0 to 46404
Series name: hp
Non-Null Count  Dtype
--------------  -----
46380 non-null  float64
dtypes: float64(1)
memory usage: 362.7 KB

In [31]:
df_analysis.price = df_analysis.price.astype(float)

In [56]:
df_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46405 entries, 0 to 46404
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mileage    46405 non-null  int64
 1   make       46405 non-null  object
 2   model      46297 non-null  object
 3   fuel       46405 non-null  object
 4   gear       46236 non-null  object
 5   offerType  46405 non-null  object
 6   price      46405 non-null  float64
 7   hp         46380 non-null  float64
 8   year       46405 non-null  int64
 9   country    46405 non-null  object
 10  yrsOld     46405 non-null  int64
dtypes: float64(2), int64(3), object(6)
memory usage: 3.9+ MB

Extract the quantitative column values and run a correlation calculation on them to see how correlated they are with each other.

In [63]:
corrM= df_analysis[['mileage','price','hp','yrsOld']].corr()

In [64]:
corrM

          mileage     price        hp    yrsOld
mileage  1.000000 -0.302788 -0.015084  0.676131
price   -0.302788  1.000000  0.747609 -0.405633
hp      -0.015084  0.747609  1.000000 -0.167223
yrsOld   0.676131 -0.405633 -0.167223  1.000000

This is a little joke from South Park. Kenny McCormick is the kid from the low income family so this is just to see how the different correlation values are for cars under 10,000 Euros.

In [97]:
kennyMcCormickCorrM= df_analysis[df_analysis.price<10000][['mileage','price','hp','yrsOld']].corr()

In [98]:
kennyMcCormickCorrM

          mileage     price        hp    yrsOld
mileage  1.000000 -0.244665  0.542468  0.407873
price   -0.244665  1.000000  0.281809 -0.488678
hp       0.542468  0.281809  1.000000  0.322341
yrsOld   0.407873 -0.488678  0.322341  1.000000

Doing the same for cars over 10,000 Euros. Tolkien Black is the name of a character from an affluent family.

In [114]:
tolkienBlackCorrM = df_analysis[df_analysis.price > 10000][['mileage', 'price', 'hp', 'yrsOld']].corr()

In [115]:
tolkienBlackCorrM

          mileage     price        hp    yrsOld
mileage  1.000000 -0.194201  0.130475  0.744867
price   -0.194201  1.000000  0.716613 -0.215160
hp       0.130475  0.716613  1.000000  0.098986
yrsOld   0.744867 -0.215160  0.098986  1.000000

seems like the only strong correlations are between price and horsepower. Get's weaker as the car gets more expensive, probably because there's less differentiation in horsepower as the cars are more expensive. more expensive cars are usually more powerful in horsepower. we can chec that

In [116]:
df_analysis.hp.describe()

count    46380.000000
mean       132.990901
std         75.446031
min          1.000000
25%         86.000000
50%        116.000000
75%        150.000000
max        850.000000
Name: hp, dtype: float64

This is just to look at how horsepower varies over different price ranges. Those under 60k, those over, and those over 200k Euros.

In [131]:
hp_over_60k= df_analysis[df_analysis.price>60000].hp
hp_under_60k= df_analysis[df_analysis.price<60000].hp
hp_over_200k= df_analysis[df_analysis.price>200000].hp

In [125]:
def findCoeffVar(input):
    return input.std()/input.mean()

In [128]:
findCoeffVar(hp_over_60k)

0.32750353666497484

In [130]:
findCoeffVar(hp_under_60k)

0.47121087097796316

In [132]:
findCoeffVar(hp_over_200k)

0.1273082688087778

In [133]:
hp_over_200k.mean()

656.1632653061224

In [134]:
hp_under_60k.mean()

126.70078445198537

In [135]:
hp_over_60k.mean()

419.16850551654966

In [137]:
df_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46405 entries, 0 to 46404
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mileage    46405 non-null  int64
 1   make       46405 non-null  object
 2   model      46297 non-null  object
 3   fuel       46405 non-null  object
 4   gear       46236 non-null  object
 5   offerType  46405 non-null  object
 6   price      46405 non-null  float64
 7   hp         46380 non-null  float64
 8   year       46405 non-null  int64
 9   country    46405 non-null  object
 10  yrsOld     46405 non-null  int64
dtypes: float64(2), int64(3), object(6)
memory usage: 3.9+ MB

In [138]:
#df_analysis.to_pickle('/Users/pkc/PycharmProjects/pythonProject/Automotive/pickles/df_analyzed.pickle')