In [1]:
import pandas as pd
import numpy as np

In [2]:
df_country= pd.read_excel("//Users/pkc/PycharmProjects/pythonProject/Automotive/data/Car-Models-List-by-Teoalida-SAMPLE.xlsx",sheet_name='car_make_list')

In [3]:
df_country.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NaN,Make,Country,Size,Models included (World),Models included (Europe),Timeline included,Company Founded,First car produced,Last car produced,...,NaN,NaN,Sold in North America,NaN,NaN,NaN,NaN,NaN,NaN,Description
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2010s,2020s,1960s,1970s,1980s,1990s,2000s,2010s,2020s,NaN
2,NaN,222,222,222,6264,3320,104,198,178,222,...,55,50,54,57,56,51,54,48,45,94
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,CAR MANUFACTURERS LIST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Original research by Teoalida Â© cardatabase.te...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,This is NOT a list of all manufacturers ever e...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,If you saw somewhere a list with 1000 manufact...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NOTE: Sold in Western Europe / North America i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Car makes with list of models included (and nu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,AC Cars,United Kingdom,Small,11,11,YES,1901,1903,Active,...,NaN,NaN,Y,Y,Y,Y,NaN,NaN,NaN,NaN
14,NaN,Acura,Japan,Large,37,NaN,YES,1986,1986,Active,...,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,Y,Honda division for US
15,NaN,Aixam-Mega (including Arola),France,Small,32,32,NaN,"1975, 1983",NaN,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Alfa Romeo,Italy,Large,35,35,YES,1910,1910,Active,...,Y,Y,Y,Y,Y,Y,NaN,Y,Y,NaN
17,NaN,Alpine,France,Medium,7,7,YES,1955,1955,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Bought by Renault in 1978, defunct 1995, relau..."
18,NaN,Alvis,United Kingdom,Medium,9,9,YES,1919,1920,1967,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,Car production ended 1967
19,NaN,"AMC, Eagle",United States,Large,33,NaN,YES,1954,1954,1998,...,NaN,NaN,Y,Y,Y,Y,NaN,NaN,NaN,"Formed 1954 by merging of Hudson and Nash, bou..."

imported looks terrible, need to make first row the column list, and remove like the first ten rows which are text, not data.

In [4]:
df_country.columns= df_country.iloc[0]

In [5]:
df_country.head(15)

,NaN,Make,Country,Size,Models included (World),Models included (Europe),Timeline included,Company Founded,First car produced,Last car produced,...,NaN,NaN,Sold in North America,NaN,NaN,NaN,NaN,NaN,NaN,Description
0,NaN,Make,Country,Size,Models included (World),Models included (Europe),Timeline included,Company Founded,First car produced,Last car produced,...,NaN,NaN,Sold in North America,NaN,NaN,NaN,NaN,NaN,NaN,Description
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2010s,2020s,1960s,1970s,1980s,1990s,2000s,2010s,2020s,NaN
2,NaN,222,222,222,6264,3320,104,198,178,222,...,55,50,54,57,56,51,54,48,45,94
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,CAR MANUFACTURERS LIST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Original research by Teoalida Â© cardatabase.te...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,This is NOT a list of all manufacturers ever e...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,If you saw somewhere a list with 1000 manufact...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NOTE: Sold in Western Europe / North America i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Car makes with list of models included (and nu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,AC Cars,United Kingdom,Small,11,11,YES,1901,1903,Active,...,NaN,NaN,Y,Y,Y,Y,NaN,NaN,NaN,NaN
14,NaN,Acura,Japan,Large,37,NaN,YES,1986,1986,Active,...,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,Y,Honda division for US

In [6]:
df_country[13:].head()

,NaN,Make,Country,Size,Models included (World),Models included (Europe),Timeline included,Company Founded,First car produced,Last car produced,...,NaN,NaN,Sold in North America,NaN,NaN,NaN,NaN,NaN,NaN,Description
13,NaN,AC Cars,United Kingdom,Small,11,11,YES,1901,1903,Active,...,NaN,NaN,Y,Y,Y,Y,NaN,NaN,NaN,NaN
14,NaN,Acura,Japan,Large,37,NaN,YES,1986,1986,Active,...,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,Y,Honda division for US
15,NaN,Aixam-Mega (including Arola),France,Small,32,32,NaN,"1975, 1983",NaN,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Alfa Romeo,Italy,Large,35,35,YES,1910,1910,Active,...,Y,Y,Y,Y,Y,Y,NaN,Y,Y,NaN
17,NaN,Alpine,France,Medium,7,7,YES,1955,1955,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Bought by Renault in 1978, defunct 1995, relau..."

In [7]:
df_country= df_country[13:].copy()

In [8]:
df_country.head()

,NaN,Make,Country,Size,Models included (World),Models included (Europe),Timeline included,Company Founded,First car produced,Last car produced,...,NaN,NaN,Sold in North America,NaN,NaN,NaN,NaN,NaN,NaN,Description
13,NaN,AC Cars,United Kingdom,Small,11,11,YES,1901,1903,Active,...,NaN,NaN,Y,Y,Y,Y,NaN,NaN,NaN,NaN
14,NaN,Acura,Japan,Large,37,NaN,YES,1986,1986,Active,...,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,Y,Honda division for US
15,NaN,Aixam-Mega (including Arola),France,Small,32,32,NaN,"1975, 1983",NaN,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Alfa Romeo,Italy,Large,35,35,YES,1910,1910,Active,...,Y,Y,Y,Y,Y,Y,NaN,Y,Y,NaN
17,NaN,Alpine,France,Medium,7,7,YES,1955,1955,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Bought by Renault in 1978, defunct 1995, relau..."

In [9]:
df_country.columns

Index([                          nan,                        'Make',
                           'Country',                        'Size',
           'Models included (World)',    'Models included (Europe)',
                 'Timeline included',             'Company Founded',
                'First car produced',           'Last car produced',
       'Model Years (North America)',      'Sold in Western Europe',
                                 nan,                           nan,
                                 nan,                           nan,
                                 nan,                           nan,
             'Sold in North America',                           nan,
                                 nan,                           nan,
                                 nan,                           nan,
                                 nan,                 'Description'],
      dtype='object', name=0)

In [10]:
df_country.reset_index()

,index,NaN,Make,Country,Size,Models included (World),Models included (Europe),Timeline included,Company Founded,First car produced,...,NaN,NaN,Sold in North America,NaN,NaN,NaN,NaN,NaN,NaN,Description
0,13,NaN,AC Cars,United Kingdom,Small,11,11,YES,1901,1903,...,NaN,NaN,Y,Y,Y,Y,NaN,NaN,NaN,NaN
1,14,NaN,Acura,Japan,Large,37,NaN,YES,1986,1986,...,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,Y,Honda division for US
2,15,NaN,Aixam-Mega (including Arola),France,Small,32,32,NaN,"1975, 1983",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16,NaN,Alfa Romeo,Italy,Large,35,35,YES,1910,1910,...,Y,Y,Y,Y,Y,Y,NaN,Y,Y,NaN
4,17,NaN,Alpine,France,Medium,7,7,YES,1955,1955,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Bought by Renault in 1978, defunct 1995, relau..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,247,NaN,Austin (included in BMC),United Kingdom,Large,-,-,NaN,1905,1906,...,NaN,NaN,Y,Y,NaN,NaN,NaN,NaN,NaN,"Merged in British Leyland, brand used until 1994"
235,248,NaN,Riley (included in BMC),United Kingdom,Large,-,-,NaN,1896,NaN,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,"Merged in British Leyland, brand used until 1969"
236,249,NaN,Wolseley (included in BMC),United Kingdom,Large,-,-,NaN,1901,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Merged in British Leyland, brand used until 1975"
237,250,NaN,Standard (included in BMC),United Kingdom,Large,-,-,NaN,1903,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Merged in British Leyland, brand used until 1963"
238,251,NaN,Talbot (included in Chrysler Europe),United Kingdom,Large,-,-,NaN,1903,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Revived by PSA in 1979, passager cars disconti..."

In [11]:
df_country= df_country.reset_index()

In [12]:
df_make_origin= df_country[['Make','Country']].copy()

In [13]:
df_make_origin.head()

0                          Make         Country
0                       AC Cars  United Kingdom
1                         Acura           Japan
2  Aixam-Mega (including Arola)          France
3                    Alfa Romeo           Italy
4                        Alpine          France

In [14]:
df_make_origin.rename(columns={'Make':'make','Country':'country'},inplace=True)

In [15]:
df_make_origin.head()

0                          make         country
0                       AC Cars  United Kingdom
1                         Acura           Japan
2  Aixam-Mega (including Arola)          France
3                    Alfa Romeo           Italy
4                        Alpine          France

In [16]:
df_make_origin.make.value_counts()

make
Buick                                   2
Audi                                    2
AC Cars                                 1
Plymouth                                1
Opel                                    1
                                       ..
Hindustan                               1
Holden                                  1
Honda                                   1
Honda India                             1
Talbot (included in Chrysler Europe)    1
Name: count, Length: 235, dtype: int64

In [17]:
df_make_origin[(df_make_origin.make=='Buick')|(df_make_origin.make=='Audi')]

0     make        country
13    Audi        Germany
28   Buick  United States
29   Buick          China
225   Audi        Germany

In [18]:
df_make_origin= df_make_origin.drop(29)

In [19]:
df_make_origin= df_make_origin.drop(225)

In [20]:
df_autos= pd.read_pickle('/Users/pkc/PycharmProjects/pythonProject/Automotive/pickles/df_autos.pickle')

In [21]:
df_autos.shape

(46405, 9)

In [22]:
df_autos.head(10)

,mileage,make,model,fuel,gear,offerType,price,hp,year
0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011
1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011
2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011
3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011
4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011
5,147000,Toyota,Auris,Electric/Gasoline,Automatic,Used,6950,99.0,2011
6,91894,Renault,Scenic,Diesel,Manual,Used,6970,131.0,2011
7,127500,Opel,Zafira,Gasoline,Manual,Used,6972,116.0,2011
8,115000,Mazda,3,Gasoline,Automatic,Used,6980,150.0,2011
9,104,Ford,Transit,Diesel,Manual,Used,6990,86.0,2011

In [23]:
df_autos.head(10)

,mileage,make,model,fuel,gear,offerType,price,hp,year
0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011
1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011
2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011
3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011
4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011
5,147000,Toyota,Auris,Electric/Gasoline,Automatic,Used,6950,99.0,2011
6,91894,Renault,Scenic,Diesel,Manual,Used,6970,131.0,2011
7,127500,Opel,Zafira,Gasoline,Manual,Used,6972,116.0,2011
8,115000,Mazda,3,Gasoline,Automatic,Used,6980,150.0,2011
9,104,Ford,Transit,Diesel,Manual,Used,6990,86.0,2011

In [24]:
df_joined_countries= pd.merge(df_autos,df_make_origin,left_on='make',right_on='make',how='left')

In [25]:
df_joined_countries.head(10)

,mileage,make,model,fuel,gear,offerType,price,hp,year,country
0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011,Germany
1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011,Germany
2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011,NaN
3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011,France
4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011,France
5,147000,Toyota,Auris,Electric/Gasoline,Automatic,Used,6950,99.0,2011,Japan
6,91894,Renault,Scenic,Diesel,Manual,Used,6970,131.0,2011,France
7,127500,Opel,Zafira,Gasoline,Manual,Used,6972,116.0,2011,Germany
8,115000,Mazda,3,Gasoline,Automatic,Used,6980,150.0,2011,Japan
9,104,Ford,Transit,Diesel,Manual,Used,6990,86.0,2011,NaN

In [26]:
df_joined_countries.country.isnull().value_counts()

country
False    35732
True     10673
Name: count, dtype: int64

In [27]:
df_joined_countries[df_joined_countries.country.isnull()].make.value_counts()

make
Ford                4442
Mercedes-Benz       2354
SEAT                1924
Citroen              957
MINI                 469
Land                 164
Alfa                 132
Cupra                 65
Abarth                43
Aston                 30
Others                25
DS                    16
Microcar              12
Alpina                10
Trailer-AnhÃ¤nger       4
Baic                   3
Caravans-Wohnm         3
Aixam                  3
Maybach                3
Corvette               3
RAM                    2
DFSK                   2
Estrima                2
9ff                    1
Zhidou                 1
Trucks-Lkw             1
Brilliance             1
FISKER                 1
Name: count, dtype: int64

In [28]:
df_make_origin.make[50:75]

51            DeSoto
52         De Tomaso
53             Dodge
54       Donkervoort
55             Edsel
56       e.GO Mobile
57    Eicher Polaris
58              Elva
59        Facel Vega
60           Ferrari
61              Fiat
62    Fiat do Brasil
63        Fiat India
64     Fisker, Karma
65      Ford America
66    Ford Australia
67    Ford do Brasil
68       Ford Europe
69        Ford India
70      Freightliner
71               FSO
72               GAZ
73             Geely
74               Geo
75           Gilbern
Name: make, dtype: object

In [29]:
df_autos['make']=df_autos['make'].replace(to_replace='Cupra',value='SEAT')

In [30]:
df_make_origin["make"]= df_make_origin['make'].replace(to_replace='Ford America',value="Ford")

In [31]:
df_make_origin[131:132]

0       make        country
132  Mercury  United States

In [32]:
df_make_origin['make']=df_make_origin['make'].replace(to_replace="Mercedes-Benz (including Maybach)",value='Mercedes-Benz')

In [33]:
df_make_origin['make']=df_make_origin['make'].replace(to_replace="Seat",value='SEAT')

In [34]:
df_make_origin['make']=df_make_origin['make'].replace(to_replace="Mini",value='MINI')

In [35]:
df_make_origin['make']=df_make_origin['make'].replace(to_replace="CitroÃ«n",value='Citroen')

In [36]:
df_make_origin['make']=df_make_origin['make'].replace(to_replace="Land Rover",value='Land')

In [37]:
df_make_origin['make']=df_make_origin['make'].replace(to_replace="Aston Martin",value='Aston')

In [38]:
df_make_origin['make']=df_make_origin['make'].replace(to_replace="Alfa Romeo",value='Alfa')

In [39]:
df_make_origin

0                                    make         country
0                                 AC Cars  United Kingdom
1                                   Acura           Japan
2            Aixam-Mega (including Arola)          France
3                                    Alfa           Italy
4                                  Alpine          France
..                                    ...             ...
234              Austin (included in BMC)  United Kingdom
235               Riley (included in BMC)  United Kingdom
236            Wolseley (included in BMC)  United Kingdom
237            Standard (included in BMC)  United Kingdom
238  Talbot (included in Chrysler Europe)  United Kingdom

[237 rows x 2 columns]

In [63]:
df_autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46405 entries, 0 to 46404
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mileage    46405 non-null  int64
 1   make       46405 non-null  object
 2   model      46262 non-null  object
 3   fuel       46405 non-null  object
 4   gear       46223 non-null  object
 5   offerType  46405 non-null  object
 6   price      46405 non-null  int64
 7   hp         46376 non-null  float64
 8   year       46405 non-null  int64
dtypes: float64(1), int64(3), object(5)
memory usage: 3.2+ MB

In [40]:
df_join_country= pd.merge(df_autos,df_make_origin,how='left',on='make')

In [62]:
df_join_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46405 entries, 0 to 46404
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mileage    46405 non-null  int64
 1   make       46405 non-null  object
 2   model      46297 non-null  object
 3   fuel       46405 non-null  object
 4   gear       46236 non-null  object
 5   offerType  46405 non-null  object
 6   price      46405 non-null  int64
 7   hp         46380 non-null  object
 8   year       46405 non-null  int64
 9   country    46405 non-null  object
dtypes: int64(3), object(7)
memory usage: 3.5+ MB

as an interesting note, the hp vairalbe was converted from a float to object. also the count increased from 46376 to 46380. I really am not all that interested in this but it's messing with my correlation analysis because I can't run an object data type in an array calculation.

In [41]:
df_join_country.head()

,mileage,make,model,fuel,gear,offerType,price,hp,year,country
0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011,Germany
1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011,Germany
2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011,Spain
3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011,France
4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011,France

In [42]:
df_join_country.country.isnull().value_counts()

country
False    46269
True       136
Name: count, dtype: int64

In [43]:
df_join_country.shape

(46405, 10)

In [44]:
df_join_country[df_join_country.make=='Alfa']

,mileage,make,model,fuel,gear,offerType,price,hp,year,country
1458,120000,Alfa,Romeo Giulietta,Gasoline,Manual,Used,6000,120.0,2011,Italy
2331,181382,Alfa,Romeo Giulietta,Gasoline,Manual,Used,5499,120.0,2013,Italy
2981,80000,Alfa,Romeo Giulietta,Gasoline,Manual,Used,8750,105.0,2014,Italy
3774,10,Alfa,Romeo Giulietta,Gasoline,Manual,Pre-registered,18980,120.0,2021,Italy
4464,143000,Alfa,Romeo MiTo,Gasoline,Manual,Used,5400,135.0,2012,Italy
...,...,...,...,...,...,...,...,...,...,...
45931,50,Alfa,Romeo Stelvio,Gasoline,Automatic,Pre-registered,45990,280.0,2021,Italy
45932,50,Alfa,Romeo Stelvio,Gasoline,Automatic,Pre-registered,46500,280.0,2021,Italy
46181,500,Alfa,Romeo Stelvio,Gasoline,Automatic,Demonstration,44690,200.0,2021,Italy
46212,500,Alfa,Romeo Stelvio,Gasoline,Automatic,Demonstration,55290,280.0,2021,Italy
46286,10,Alfa,Romeo Giulia,Gasoline,Automatic,Used,88400,510.0,2021,Italy

In [45]:
df_join_country[df_join_country.country.isnull()].head(50)

,mileage,make,model,fuel,gear,offerType,price,hp,year,country
365,3500,Others,NaN,Electric,Manual,Used,5500,38.0,2018,NaN
1985,21800,Microcar,Due,Diesel,Automatic,Used,8490,5.0,2017,NaN
2001,2900,Others,NaN,Electric,Automatic,Used,7900,5.0,2018,NaN
2843,25,Baic,NaN,Gasoline,Automatic,Used,20900,136.0,2018,NaN
3507,39500,9ff,NaN,Gasoline,Manual,Used,7000,20.0,2018,NaN
5147,21500,Abarth,500,Gasoline,Manual,Used,11850,160.0,2015,NaN
5308,73837,DS,Automobiles DS 4,Gasoline,Manual,Used,8990,120.0,2012,NaN
5690,15000,Abarth,595 Competizione,Gasoline,Manual,Used,23975,179.0,2020,NaN
7359,5,Abarth,500,Gasoline,Manual,Demonstration,24480,179.0,2020,NaN
7360,5,Abarth,500,Gasoline,Manual,Demonstration,24480,179.0,2020,NaN
7512,89900,Caravans-Wohnm,NaN,Diesel,Manual,Used,15990,102.0,2017,NaN
7597,5,Aixam,City,Diesel,Automatic,Used,17370,8.0,2021,NaN
7900,96284,DS,Automobiles DS 3,Diesel,Manual,Used,7480,92.0,2014,NaN
8518,61600,Abarth,500,Gasoline,Manual,Demonstration,11890,135.0,2014,NaN
9264,5,Aixam,NaN,Electric,Automatic,Pre-registered,22180,NaN,2021,NaN
9432,50,Others,NaN,Gasoline,Automatic,Used,14990,111.0,2020,NaN
10171,84510,Abarth,595,Gasoline,Manual,Used,12490,160.0,2014,NaN
10366,64219,Abarth,595 Turismo,Gasoline,Manual,Used,12990,160.0,2013,NaN
10900,3000,Zhidou,D2S,Electric,Automatic,Demonstration,12500,24.0,2019,NaN
11753,90,Maybach,Pullman,Gasoline,Automatic,Used,717078,630.0,2019,NaN
12019,1820,Others,NaN,Diesel,NaN,Used,15500,18.0,2011,NaN
12236,49670,Microcar,M.Go,Diesel,Automatic,Used,4950,5.0,2011,NaN
13030,800,Others,NaN,Others,NaN,Used,2450,1.0,2019,NaN
13841,13680,Microcar,M.Go,Diesel,Automatic,Used,10500,8.0,2018,NaN
14602,168000,Abarth,Punto EVO,Gasoline,Manual,Used,6500,163.0,2012,NaN
14675,312000,Trucks-Lkw,Ford,Diesel,NaN,Used,8200,131.0,2016,NaN
15323,33000,Abarth,500,Gasoline,Manual,Used,12990,140.0,2016,NaN
15500,103096,DS,Automobiles DS 5,Diesel,Automatic,Used,13489,179.0,2015,NaN
15765,46100,RAM,1500,LPG,Automatic,Used,40900,401.0,2018,NaN
16429,3400,Maybach,Pullman,Gasoline,Automatic,Used,499800,530.0,2018,NaN
17752,150,Others,NaN,Electric,Automatic,Employee's car,4490,NaN,2020,NaN
18478,27223,Alpina,B3,Gasoline,Automatic,Used,80990,409.0,2013,NaN
18642,1,Others,NaN,Gasoline,Manual,Pre-registered,23990,150.0,2021,NaN
19402,66900,Maybach,NaN,Gasoline,Automatic,Used,134560,469.0,2019,NaN
19742,74800,DS,Automobiles DS 3,Gasoline,Manual,Used,8500,82.0,2016,NaN
19920,52000,Abarth,500,Gasoline,Automatic,Used,13400,140.0,2014,NaN
20296,100524,Brilliance,BS4,LPG,Manual,Used,1500,101.0,2011,NaN
21032,67541,Abarth,595,Gasoline,Manual,Used,13490,145.0,2017,NaN
21544,20,Abarth,595,Gasoline,Manual,Pre-registered,19890,145.0,2021,NaN
21547,20,Abarth,595,Gasoline,Manual,Pre-registered,20790,145.0,2021,NaN
21553,20,Abarth,595 Turismo,Gasoline,Manual,Pre-registered,23190,165.0,2021,NaN
21555,20,Abarth,595C,Gasoline,Manual,Pre-registered,23590,165.0,2021,NaN
22164,30180,Abarth,695,Gasoline,Manual,Used,24900,179.0,2019,NaN
22281,53500,Microcar,Due,Diesel,Automatic,Used,5000,10.0,2014,NaN
22457,7500,FISKER,Karma,Electric/Gasoline,Automatic,Used,69900,408.0,2012,NaN
22792,10,Abarth,595,Gasoline,Manual,Pre-registered,20949,165.0,2020,NaN
23220,20,Abarth,595,Gasoline,Manual,Pre-registered,20790,145.0,2020,NaN
23815,53100,Alpina,D3,Diesel,Automatic,Used,41853,349.0,2017,NaN
24203,108500,Alpina,D3,Diesel,Automatic,Used,34950,349.0,2015,NaN
24277,10,Abarth,595,Gasoline,Manual,Demonstration,16690,145.0,2019,NaN

In [46]:
df_join_country[df_join_country.make=="Abarth"]=df_join_country[df_join_country.make=="Abarth"].fillna('Italy')

In [47]:
df_join_country[df_join_country.country.isnull()]= df_join_country[df_join_country.country.isnull()].fillna('undetermined')

In [48]:
df_join_country[df_join_country.country=='undetermined'].country.value_counts()

country
undetermined    93
Name: count, dtype: int64

In [49]:
df_join_country[df_join_country.country == 'undetermined'].tail(10)

,mileage,make,model,fuel,gear,offerType,price,hp,year,country
43610,700,Others,undetermined,Electric,undetermined,Used,6300,5.0,2019,undetermined
43612,300,Others,undetermined,Electric,Automatic,Used,7000,5.0,2019,undetermined
44072,1,Trailer-AnhÃ¤nger,undetermined,Others,undetermined,Used,2500,1.0,2019,undetermined
45559,100,DS,Automobiles DS 7 Crossback,Diesel,Automatic,Used,53995,177.0,2021,undetermined
45571,14000,DS,Automobiles DS 7 Crossback,Electric/Gasoline,Automatic,Used,59995,299.0,2021,undetermined
46074,1,Others,undetermined,Gasoline,Manual,Pre-registered,23990,150.0,2021,undetermined
46102,1,Others,undetermined,Gasoline,Manual,Pre-registered,23990,150.0,2021,undetermined
46234,1800,DS,Automobiles DS 7 Crossback,Electric/Gasoline,Automatic,Used,53690,299.0,2021,undetermined
46334,100,DFSK,Glory 580,Gasoline,Automatic,Used,19990,145.0,2021,undetermined
46352,1000,Alpina,B3,Gasoline,Automatic,Demonstration,89900,462.0,2021,undetermined

In [50]:
df_join_country.country.value_counts()

country
Germany           20875
France             5029
United States      4882
Japan              3825
South Korea        2980
Czech              2889
Spain              1989
Italy              1935
Sweden              808
Romania             715
United Kingdom      351
undetermined         93
Russia               33
Netherlands           1
Name: count, dtype: int64

In [51]:
df_join_country.shape

(46405, 10)

In [52]:
df_join_country[df_join_country.country=='Germany'].price.mean()

19234.046562874253

In [53]:
df_join_country[df_join_country.country == 'Spain'].price.mean()

13777.675716440423

In [54]:
df_join_country[df_join_country.country == 'United Kingdom'].price.mean()

69797.99715099715

In [55]:
df_join_country.price.mean()

16572.33722659196

In [56]:
df_join_country.shape

(46405, 10)

In [58]:
df_join_country.describe()

            mileage         price          year
count  4.640500e+04  4.640500e+04  46405.000000
mean   7.117786e+04  1.657234e+04   2016.012951
std    6.262531e+04  1.930470e+04      3.155214
min    0.000000e+00  1.100000e+03   2011.000000
25%    1.980000e+04  7.490000e+03   2013.000000
50%    6.000000e+04  1.099900e+04   2016.000000
75%    1.050000e+05  1.949000e+04   2019.000000
max    1.111111e+06  1.199900e+06   2021.000000

In [57]:
#df_join_country.to_pickle('/Users/pkc/PycharmProjects/pythonProject/Automotive/df_join_lists.pickle')