In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [69]:
df_joined_stuff = pd.read_pickle('/Users/pkc/PycharmProjects/pythonProject/Automotive/df_joined_country.pickle')

In [70]:
df_joined_stuff.head()

,mileage,make,model,fuel,gear,offerType,price,hp,year,country
0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011,Germany
1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011,Germany
2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011,Spain
3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011,France
4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011,France

In [71]:
top5List= df_joined_stuff.model.value_counts().head().index.tolist()

In [72]:
df_top_5_models= df_joined_stuff[df_joined_stuff.model.isin(top5List)].copy()

how to find yr over yr depreciation for dataset:
1. Identify top 5 or 10 most popular brand model (will give you the most sample space)
2. topXList = df.model.value_counts().head(X).index.tolist()
3. df_top_X_model= df[df.model.isin(topXList)].copy()
4.

In [73]:
top5List

['Golf', 'Corsa', 'Fiesta', 'Astra', 'Focus']

In [74]:
round(df_top_5_models.groupby(['model','year']).price.mean(),1)

model   year
Astra   2011     5668.5
        2012     6441.7
        2013     7356.9
        2014     7732.4
        2015     8397.2
        2016    10030.8
        2017     9686.2
        2018    11312.8
        2019    14631.9
        2020    18579.4
        2021    20635.3
Corsa   2011     4613.4
        2012     5195.3
        2013     5615.2
        2014     6263.4
        2015     7553.6
        2016     7710.5
        2017     8692.2
        2018     9777.8
        2019    11747.9
        2020    15313.2
        2021    17204.7
Fiesta  2011     4912.1
        2012     5668.8
        2013     6222.9
        2014     6963.7
        2015     7488.3
        2016     8352.3
        2017     8963.7
        2018    10595.1
        2019    12464.7
        2020    15453.1
        2021    17625.0
Focus   2011     5496.5
        2012     6716.4
        2013     7055.9
        2014     8044.0
        2015     9365.6
        2016     9502.9
        2017    11773.9
        2018    12926.3
        2019    19326.1
        2020    22994.0
        2021    25209.6
Golf    2011     7144.7
        2012     7643.3
        2013     9917.3
        2014    10815.5
        2015    11461.4
        2016    12366.5
        2017    15449.4
        2018    16492.5
        2019    21596.4
        2020    25178.1
        2021    32598.9
Name: price, dtype: float64

In [75]:
round(df_top_5_models[df_top_5_models.year>2015].groupby(['model','year']).price.mean())

model   year
Astra   2016    10031.0
        2017     9686.0
        2018    11313.0
        2019    14632.0
        2020    18579.0
        2021    20635.0
Corsa   2016     7710.0
        2017     8692.0
        2018     9778.0
        2019    11748.0
        2020    15313.0
        2021    17205.0
Fiesta  2016     8352.0
        2017     8964.0
        2018    10595.0
        2019    12465.0
        2020    15453.0
        2021    17625.0
Focus   2016     9503.0
        2017    11774.0
        2018    12926.0
        2019    19326.0
        2020    22994.0
        2021    25210.0
Golf    2016    12367.0
        2017    15449.0
        2018    16492.0
        2019    21596.0
        2020    25178.0
        2021    32599.0
Name: price, dtype: float64

In [76]:
df_top_5_models['yrsOld']= abs(df_top_5_models.year-2021)

In [77]:
round(df_top_5_models.groupby(['yrsOld']).price.mean(),1)

yrsOld
0     19924.0
1     19863.0
2     15104.5
3     11989.2
4     10497.3
5      9654.6
6      9078.7
7      8035.1
8      7422.9
9      6392.3
10     5802.1
Name: price, dtype: float64

In [80]:
round(df_top_5_models.groupby(['model','yrsOld']).price.mean(), 1)

model   yrsOld
Astra   0         20635.3
        1         18579.4
        2         14631.9
        3         11312.8
        4          9686.2
        5         10030.8
        6          8397.2
        7          7732.4
        8          7356.9
        9          6441.7
        10         5668.5
Corsa   0         17204.7
        1         15313.2
        2         11747.9
        3          9777.8
        4          8692.2
        5          7710.5
        6          7553.6
        7          6263.4
        8          5615.2
        9          5195.3
        10         4613.4
Fiesta  0         17625.0
        1         15453.1
        2         12464.7
        3         10595.1
        4          8963.7
        5          8352.3
        6          7488.3
        7          6963.7
        8          6222.9
        9          5668.8
        10         4912.1
Focus   0         25209.6
        1         22994.0
        2         19326.1
        3         12926.3
        4         11773.9
        5          9502.9
        6          9365.6
        7          8044.0
        8          7055.9
        9          6716.4
        10         5496.5
Golf    0         32598.9
        1         25178.1
        2         21596.4
        3         16492.5
        4         15449.4
        5         12366.5
        6         11461.4
        7         10815.5
        8          9917.3
        9          7643.3
        10         7144.7
Name: price, dtype: float64

In [117]:
round(df_top_5_models[df_top_5_models.model=="Astra"].groupby(['yrsOld']).price.mean())

yrsOld
0     20635.0
1     18579.0
2     14632.0
3     11313.0
4      9686.0
5     10031.0
6      8397.0
7      7732.0
8      7357.0
9      6442.0
10     5669.0
Name: price, dtype: float64

In [93]:
prices=round(df_top_5_models[df_top_5_models.model=='Astra'].groupby('yrsOld').price.mean()).tolist()
year=(df_top_5_models[df_top_5_models.model=='Astra'].groupby('yrsOld').price.mean()).index.tolist()

In [97]:
yearPriceArray= np.array([year,prices])

In [99]:
yearPriceArray

array([[0.0000e+00, 1.0000e+00, 2.0000e+00, 3.0000e+00, 4.0000e+00,
        5.0000e+00, 6.0000e+00, 7.0000e+00, 8.0000e+00, 9.0000e+00,
        1.0000e+01],
       [2.0635e+04, 1.8579e+04, 1.4632e+04, 1.1313e+04, 9.6860e+03,
        1.0031e+04, 8.3970e+03, 7.7320e+03, 7.3570e+03, 6.4420e+03,
        5.6690e+03]])

In [101]:
newArray= yearPriceArray.astype(int)

In [105]:
makeList = [prices,year]

In [112]:
makeList

[[20635.0,
  18579.0,
  14632.0,
  11313.0,
  9686.0,
  10031.0,
  8397.0,
  7732.0,
  7357.0,
  6442.0,
  5669.0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [114]:
makeList[0][1]

18579.0

In [115]:
def findStraightLineDep(year):
    salv_cost= makeList[0][0]-makeList[0][year]
    return salv_cost/year

In [122]:
for i in range(1,10):
    findStraightLineDep(i)

In [139]:
shitList = [findStraightLineDep(i) for i in year if i>0]

In [142]:
shitList

[2056.0,
 3001.5,
 3107.3333333333335,
 2737.25,
 2120.8,
 2039.6666666666667,
 1843.2857142857142,
 1659.75,
 1577.0,
 1496.6]

i need to rework this so i don't get the division by zero for year zero, and then try to generalize this function for all models, that way you can see what the depreciation is for all models. This will allow you too see what the value retention is. But calculating the annual depreciation rate based on year, shows that the annual depreciation peaks at year three. this may confirm my hypothesis that owners want to move on from the car before it depreciates the most. Again, this is only one model, the Azteca, so I would have to apply this to more.