In [1]:
import pandas

In [2]:
df_restaurants = pandas.read_csv('/Users/pkc/Dropbox/Mac/Desktop/Python/python-for-mbas/Part 2/raw data/Restaurants.csv')

In [3]:
#df_restaurants.head()

,RESTAURANT_ID,NAME,ADDRESS,LAT,LONG,OPENING_DATE,DELIVERY_START
0,R10001,Columbia,"2884 Broadway, New York, NY 10025",40.811470,-73.961230,8/9/2014,2017-01-01
1,R10002,Midtown,"1379 6th Ave, New York, NY 10019",40.763640,-73.977960,3/19/2013,2018-05-01
2,R10005,Flatiron,"40 W 25th St, New York, NY 10010",40.743600,-73.991070,11/14/2013,2016-03-05
3,R10008,Williamsburg,"45 S 3rd St, Brooklyn, NY 11249",40.713749,-73.965782,10/12/2015,2017-01-01
4,R10004,NYU,"109 Macdougal St, New York, NY 10012",40.729930,-74.000820,1/10/2014,2017-01-01

In [4]:
df_students1=pandas.read_excel('/Users/pkc/Dropbox/Mac/Desktop/Python/python-for-mbas/Part 2/raw data/Students.xlsx')

In [5]:
df_summarized_orders = pandas.read_csv('/Users/pkc/Dropbox/Mac/Desktop/Python/python-for-mbas/Part 2/raw data/Summarized orders.csv')

In [6]:
#df_summarized_orders.head()

      location         day  number of orders  percentage of deliveries
0  Bryant Park  2018-01-01               373                       0.0
1  Bryant Park  2018-01-02               789                       0.0
2  Bryant Park  2018-01-03               818                       0.0
3  Bryant Park  2018-01-04               782                       0.0
4  Bryant Park  2018-01-05               719                       0.0

In [7]:
#df_summarized_orders.shape

(2806, 4)

In [8]:
df_summarized_orders.columns = ['restaurant', 'date','num_orders','perc_deliv']

In [9]:
#df_summarized_orders.head()

    restaurant        date  num_orders  perc_deliv
0  Bryant Park  2018-01-01         373         0.0
1  Bryant Park  2018-01-02         789         0.0
2  Bryant Park  2018-01-03         818         0.0
3  Bryant Park  2018-01-04         782         0.0
4  Bryant Park  2018-01-05         719         0.0

In [10]:
df_orders = pandas.read_csv('/Users/pkc/Dropbox/Mac/Desktop/Python/python-for-mbas/Part 2/raw data/Simplified orders.zip')

In [11]:
df_students1.to_pickle('/Users/pkc/Dropbox/Mac/Desktop/Python/python-for-mbas/Part 2/pickles/df_students.pickle')

In [12]:
df_summarized_orders.to_csv('/Users/pkc/Dropbox/Mac/Desktop/Python/python-for-mbas/Part 2/df_summarizedOrdeur.csv')

In [13]:
df_summarized_orders.to_csv('/Users/pkc/Dropbox/Mac/Desktop/Python/python-for-mbas/Part 2/df_summarizedOrdeur.csv')

In [14]:
#df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2387224 entries, 0 to 2387223
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   ORDER_ID       object
 1   DATETIME       object
 2   RESTAURANT_ID  object
 3   TYPE           object
 4   DRINKS         float64
 5   COOKIES        float64
 6   MAIN           object
 7   BASE           object
 8   SIDE_1         object
 9   SIDE_2         object
dtypes: float64(2), object(8)
memory usage: 182.1+ MB

In [15]:
df_orders.DATETIME = pandas.to_datetime(df_orders.DATETIME)

In [17]:
df_orders.to_pickle('/Users/pkc/Dropbox/Mac/Desktop/Python/python-for-mbas/Part 2/pickles/df_orders.pickle')

In [18]:
df_summarized_orders.to_pickle('/Users/pkc/Dropbox/Mac/Desktop/Python/python-for-mbas/Part 2/pickles/df_summarized_orders.pickle')

In [19]:
df_restaurants.to_pickle('/Users/pkc/Dropbox/Mac/Desktop/Python/python-for-mbas/Part 2/pickles/df_restaurants.pickle')

In [20]:
df_items = pandas.read_csv('/Users/pkc/Dropbox/Mac/Desktop/Python/python-for-mbas/Part 2/raw data/Items.csv')

In [21]:
df_items.to_pickle('/Users/pkc/Dbropbox/Mac/Desktop/Python/python-for-mbas/Part 2/pickles/df_items.pickle')

OSError: Cannot save file into a non-existent directory: '/Users/pkc/Dbropbox/Mac/Desktop/Python/python-for-mbas/Part 2/pickles'

In [ ]:
df_orders.head()

In [ ]:
df_orders.DATETIME.dt.day_name().head()