In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('vehicles.csv')

In [4]:
df.pop('id')

0         7222695916
1         7218891961
2         7221797935
3         7222270760
4         7210384030
             ...
426875    7301591192
426876    7301591187
426877    7301591147
426878    7301591140
426879    7301591129
Name: id, Length: 426880, dtype: int64

In [6]:
df.pop('url')

0         https://prescott.craigslist.org/cto/d/prescott...
1         https://fayar.craigslist.org/ctd/d/bentonville...
2         https://keys.craigslist.org/cto/d/summerland-k...
3         https://worcester.craigslist.org/cto/d/west-br...
4         https://greensboro.craigslist.org/cto/d/trinit...
                                ...
426875    https://wyoming.craigslist.org/ctd/d/atlanta-2...
426876    https://wyoming.craigslist.org/ctd/d/atlanta-2...
426877    https://wyoming.craigslist.org/ctd/d/atlanta-2...
426878    https://wyoming.craigslist.org/ctd/d/atlanta-2...
426879    https://wyoming.craigslist.org/ctd/d/atlanta-2...
Name: url, Length: 426880, dtype: object

In [7]:
df.pop('region_url')

0           https://prescott.craigslist.org
1              https://fayar.craigslist.org
2               https://keys.craigslist.org
3          https://worcester.craigslist.org
4         https://greensboro.craigslist.org
                        ...
426875       https://wyoming.craigslist.org
426876       https://wyoming.craigslist.org
426877       https://wyoming.craigslist.org
426878       https://wyoming.craigslist.org
426879       https://wyoming.craigslist.org
Name: region_url, Length: 426880, dtype: object

In [10]:
df.tail()

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
426875,wyoming,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,gas,32226.0,clean,...,NaN,sedan,NaN,https://images.craigslist.org/00o0o_iiraFnHg8q...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:31-0600
426876,wyoming,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,gas,12029.0,clean,...,NaN,sedan,red,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:29-0600
426877,wyoming,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,diesel,4174.0,clean,...,NaN,hatchback,white,https://images.craigslist.org/00L0L_farM7bxnxR...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:17-0600
426878,wyoming,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,gas,30112.0,clean,...,NaN,sedan,silver,https://images.craigslist.org/00z0z_bKnIVGLkDT...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:11-0600
426879,wyoming,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,gas,22716.0,clean,...,NaN,coupe,NaN,https://images.craigslist.org/00Y0Y_lEUocjyRxa...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:07-0600

In [12]:
df.drop(['VIN','image_url','description','posting_date'],axis=1)

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,county,state,lat,long
0,prescott,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN
1,fayetteville,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN
2,florida keys,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN
3,worcester / central MA,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN
4,greensboro,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,wyoming,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,gas,32226.0,clean,other,fwd,NaN,sedan,NaN,NaN,wy,33.786500,-84.445400
426876,wyoming,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,gas,12029.0,clean,other,fwd,NaN,sedan,red,NaN,wy,33.786500,-84.445400
426877,wyoming,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,diesel,4174.0,clean,other,NaN,NaN,hatchback,white,NaN,wy,33.779214,-84.411811
426878,wyoming,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,gas,30112.0,clean,other,fwd,NaN,sedan,silver,NaN,wy,33.786500,-84.445400
426879,wyoming,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,gas,22716.0,clean,other,rwd,NaN,coupe,NaN,NaN,wy,33.779214,-84.411811

In [16]:
df.price.isnull().value_counts()

price
False    426880
Name: count, dtype: int64